<div class="layout-container-1 full-screen-container">
    @if (page) {
    <div class="info-page-content">
        <h2>@if (!native) { {{page.title}} } @else { {{page.native_title}} }</h2>
        <div [innerHTML]="!native ? page.content : page.native_content | markdown"></div>
    </div>
    }
    <app-bottom-nav [showNextPage]="true" [showPreviousPage]="true" [showTranslate]="true" (nextPage)="nextPage.emit()"
        (previousPage)="previousPage.emit()" (translate)="native = !native"></app-bottom-nav>
</div>