<div class="centered-form">
    <form (ngSubmit)="onSubmit()" #loginForm="ngForm">
        <mat-card>
            <mat-card-header>
                <mat-card-title i18n>Welcome back</mat-card-title>
                <mat-card-subtitle i18n>Sign in to continue</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content>
                <mat-form-field class="full-width">
                    <mat-label i18n>Username</mat-label>
                    <input matInput type="text" name="username" [(ngModel)]="credentials.username" required
                        autocomplete="username" autofocus>
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label i18n>Password</mat-label>
                    <input matInput type="password" name="password" [(ngModel)]="credentials.password" required
                        autocomplete="current-password">
                </mat-form-field>
                <div class="full-width">
                    <mat-checkbox name="store_token" [(ngModel)]="store_token" i18n>Remember me</mat-checkbox>
                </div>
                <div class="forgot-password">
                    <a mat-button color="primary" routerLink="/reset-password-request">Forgot password?</a>
                </div>
                <button class="full-width" mat-flat-button color="primary" type="submit"
                    [disabled]="!loginForm.form.valid" i18n>Sign in</button>
                <div class="divider">
                    <span>or</span>
                </div>
                <button class="full-width" mat-flat-button type="button" (click)="continueWithoutAccount()" i18n>Continue without account</button>
                <div class="footer-version">v. {{version$ | async}}</div>
            </mat-card-content>
            <mat-card-actions align="end">
            </mat-card-actions>
        </mat-card>
    </form>
</div>
