mat-card {
    position: relative;
}

.forgot-password {
    text-align: right;
    margin: 0 0 24px;
}

.divider {
    text-align: center;
    margin: 16px 0;
    color: var(--mat-sys-outline);
    position: relative;

    span {
        background: var(--mat-sys-surface-container-low);
        padding: 0 16px;
        position: relative;
        z-index: 1;
    }

    &::before {
        content: '';
        position: absolute;
        top: 50%;
        left: 0;
        right: 0;
        height: 1px;
        background: var(--mat-sys-outline);
    }
}

.google-btn {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    margin: 20px 0;
    border: 1px solid #dadce0 !important;
    background-color: #ffffff !important;
    color: #3c4043 !important;
    font-weight: 500;
    font-family: Roboto, arial, sans-serif;
    transition: background-color .218s, border-color .218s, box-shadow .218s;

    &:hover {
        background-color: #f8f9fa !important;
        border-color: #dee2e6 !important;
        box-shadow: 0 1px 2px 0 rgba(60, 64, 67, 0.3), 0 1px 3px 1px rgba(60, 64, 67, 0.15) !important;
    }

    .google-icon {
        height: 100%;
        margin-right: 12px;
        vertical-align: middle;
    }
}
