Translate:

**page title:**
{{ page_title}}

**page content:**
{{ page_content}}


Each page should adhere strictly to the json schema provided below.

The output should be a JSON array of objects:
{{json_schema}}
