From the list below, select words, phrases and collocations related to theme: **{{ theme }}**.
They will be used to create definition guess exercises.
The output should be a JSON array of strings.

List:
{{ word_set }}
