PYTHONPATH=app
PRODUCTION=True

WORKERS=

DATA_DIR=

GCP_ROOT_STORAGE=
GCP_BUCKET_NAME=

AUTH__JWT_SECRET_KEY=
DEFAULT_USER__USERNAME=
DEFAULT_USER__EMAIL=
DEFAULT_USER__PASSWORD=

SMTP__HOST=
SMTP__PORT=
SMTP__USERNAME=
SMTP__PASSWORD=
SMTP__USE_SSL=

RESET_PASSWORD_MAIL__SENDER=
RESET_PASSWORD_MAIL__SUBJECT="Password reset"
RESET_PASSWORD_MAIL__BODY_TEMPLATE="Hello,
        
You are receiving this email because you requested a password reset.
To reset your password, please enter the following code into the form: {reset_code}
This code is valid for {reset_code_expire_minutes} minutes.
If you did not request a password reset, please ignore this email.
"
