<form class="center-content" [formGroup]="form" (ngSubmit)="onSubmit()">
    <mat-card>
        <mat-card-header>
            <mat-card-title i18n>Reset password request</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label i18n>E-mail</mat-label>
                <input matInput type="email" placeholder="Adres e-mail" formControlName="email" required autofocus>
                @if (form.controls['email'].hasError('required')) {
                <mat-error i18n>Email is <strong>required</strong></mat-error>
                }
                @if (form.controls['email'].hasError('email')) {
                <mat-error i18n>Input <strong>correct</strong> email</mat-error>
                }
            </mat-form-field>
            <p i18n>
                If the user with the email address provided above is registered in the system,
                an email with a password reset code will be sent to that address,
                which must be entered in the next form.
            </p>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button type="button" routerLink="/login" i18n>Login</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" i18n>Password reset</button>
        </mat-card-actions>
    </mat-card>
</form>