<mat-toolbar color="primary">
    <button mat-icon-button routerLink="/topics">
        <mat-icon>navigate_before</mat-icon>
    </button>
    <div class="flex-spacer"></div>
    <span i18n>{{topic?.title}}</span>
    <div class="flex-spacer"></div>
    <button mat-icon-button [matMenuTriggerFor]="menu">
        <mat-icon>more_vert</mat-icon>
    </button>
</mat-toolbar>

<mat-menu #menu="matMenu">
    <ng-template matMenuContent>
        <button mat-menu-item [routerLink]="['/topics', topicId, 'pages', pages[page_no].id, 'edit']">
            <mat-icon>edit</mat-icon>
            <span i18n>Edit page</span>
        </button>
        <button mat-menu-item (click)="addImage()">
            <mat-icon>add_photo_alternate</mat-icon>
            <span i18n>Generate & Add image</span>
        </button>
    </ng-template>
</mat-menu>

@if (pages) {
@if (pages[page_no].type=="gap-fill-choice") {
<app-gap-fill-choice [topicId]="topicId" [id]="pages[page_no].id" (previousPage)="onPreviousPage()"
    (nextPage)="onNextPage()"></app-gap-fill-choice>
} @else if (pages[page_no].type=="definition-guess") {
<app-definition-guess [viewMode]="true" [topicId]="topicId" [id]="pages[page_no].id" (previousPage)="onPreviousPage()"
    (nextPage)="onNextPage()"></app-definition-guess>
} @else if (pages[page_no].type=="info") {
<app-info-page [topicId]="topicId" [id]="pages[page_no].id" (previousPage)="onPreviousPage()"
    (nextPage)="onNextPage()"></app-info-page>
} @else {
<pre>{{pages[page_no] | json}}</pre>
}
}
