.container {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(17em, 1fr));
    gap: 16px;
    padding: 16px;
    box-sizing: border-box;

    @media (max-width: 599px) {
        grid-template-columns: 1fr;
    }

    mat-card {
        display: flex;
        flex-direction: column;

        mat-card-content {
            flex-grow: 1;
            aspect-ratio: 4/3;
            overflow: hidden;
            padding: 0.1em 0.2em 0.2em 0.2em;
            cursor: pointer;
            div {
                height: 100%;
                width: 100%;
                box-sizing: border-box;
                position: relative;
                img[fill] {
                    object-fit: cover;
                    object-position: center;
                    border-radius: var(--mat-card-elevated-container-shape, var(--mat-sys-corner-medium));
                    // mask-image: linear-gradient(to bottom, black 60%, transparent 90%);
                }
            }
        }
    }

}