<div class="container">
    <!-- <mat-card>
        <mat-card-header>
            <mat-card-title>Repetitions</mat-card-title>
        </mat-card-header>
        <mat-card-content routerLink="/repetitions">
            <div>
                <img [ngSrc]="`/Not_implemented_yet.png`" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" priority
                    matTooltip="Not implemented yet" [matTooltipTouchGestures]="'off'" />
            </div>
        </mat-card-content>
    </mat-card> -->

    @for(topic of topics; track topic.id) {
    <mat-card>
        <mat-card-header>
            <mat-card-title>Quiz</mat-card-title>
            <mat-card-subtitle>{{topic.target_title}}</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content [routerLink]="['/', topic.content_type, topic.content_id]">
            <div>
                @if (topic.image_name) {
                <img [ngSrc]="`/api/images/${topic.image_name}`" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" priority
                    [matTooltip]="topic.target_description" [matTooltipTouchGestures]="'off'" />
                } @else {
                {{topic.target_description}}
                }
            </div>
        </mat-card-content>
    </mat-card>
    }
</div>