<div class="layout-container-2 full-screen-container">
    <div class="part left vertically-centered">
        <div id="sentence">{{ exercise.sentence}}</div>
    </div>
    <div class="part right vertically-centered">
        <mat-radio-group id="answer" [(ngModel)]="answer">
        @for(o of exercise.options; track $index; let i = $index) {
            <mat-radio-button value="{{i}}">{{o}}</mat-radio-button>
        }
        </mat-radio-group>
    </div>
</div>

<mat-toolbar color="primary" class="bottom-nav">
    <mat-nav-list class="horizontal">
        <a mat-list-item routerLink="/topics">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Home</span>
        </a>
        <a mat-list-item (click)="showHint()" i18n-matTooltip matTooltip="Show hint">
            <mat-icon matListItemIcon>help</mat-icon>
            <span matListItemTitle>Clue</span>
        </a>
        <a mat-list-item (click)="native = !native" i18n-matTooltip matTooltip="Switch interface language">
            <mat-icon matListItemIcon>g_translate</mat-icon>
            <span matListItemTitle>Translate</span>
        </a>
    </mat-nav-list>
</mat-toolbar>
