<div class="layout-container-2 full-screen-container">
    @if (exercise) {
    <div class="part left vertically-centered">
        <div id="sentence">{{ exercise.sentence}}</div>
        @if (showHint) {
        <div id="hint">({{ exercise.hint}})</div>
        }
    </div>
    <div class="part right vertically-centered">
        <mat-radio-group id="answer" [(ngModel)]="answer" (change)="onAnswer($event)">
            @for(o of exercise.options; track $index; let i = $index) {
            <mat-radio-button value="{{i}}" [disabled]="disabledAnswer[i]">{{o}}</mat-radio-button>
            }
        </mat-radio-group>
    </div>
    }
</div>

<app-bottom-nav [showHint]="true" [showTranslate]="true" (hint)="showHint = !showHint" [disabledHint]="showHint"
    (translate)="native = !native"></app-bottom-nav>