.footer-version {
    position: fixed;
    right: 1em;
    bottom: 0.6em;
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
    z-index: 200;
    pointer-events: none;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-screen-container {
    height: calc(100vh - 64px);
    /* 64px = wysokość bottom bar */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    height: 64px;
    z-index: 1000;
    border-top: 1px solid var(--mat-divider-color);
    align-items: center;
    justify-content: center;
    display: flex
}


mat-nav-list.horizontal {
    // width: 100%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.2em;

    justify-content: space-around; // lub space-between / center
    padding: 0;
    margin: 0;

    .mat-mdc-list-item {
        // nowsza wersja Material (MDC)
        // flex: 1 1 auto;
        text-align: left;
        height: auto;

        display: flex;
        flex-direction: row;

        @media (max-width: 800px) {
            flex-direction: column;
            justify-content: center;
            align-items: center;
            font-size: x-small;
            padding-top: 0.3em;
            padding-right: 0.5em;
            padding-left: 0.5em;
        }
    }
}
