.footer-version {
    position: fixed;
    right: 1em;
    bottom: 0.6em;
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
    z-index: 200;
    pointer-events: none;
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.full-screen-container {
    height: calc(100vh - 64px);
    /* 64px = wysokość bottom bar */
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}
