<div class="centered-form">
    <form (ngSubmit)="onSubmit()" [formGroup]="form">
        <mat-card>
            <mat-card-header>
                @if (username) {
                <mat-card-title>Change password for <b>{{ username }}</b></mat-card-title>
                } @else {
                <mat-card-title>Change password</mat-card-title>
                }
            </mat-card-header>
            <mat-card-content>
                @if (!username) {
                <mat-form-field class="full-width">
                    <mat-label>Current password</mat-label>
                    <input matInput type="password" formControlName="old_password" required>
                    @if (form.controls['old_password'].hasError('required')) {
                    <mat-error i18n>Password is <strong>required</strong></mat-error>
                    }
                </mat-form-field>
                }
                <mat-form-field class="full-width">
                    <mat-label>New password</mat-label>
                    <input matInput type="password" formControlName="new_password" required>
                    @if (form.controls['new_password'].hasError('required')) {
                    <mat-error i18n>New password is <strong>required</strong></mat-error>
                    }
                    @if (form.controls['new_password'].hasError('passwordStrength')) {
                    <mat-error i18n>Password must contain <strong>at least one lowercase and uppercase letter and a
                            number</strong></mat-error>
                    }
                    @if (form.controls['new_password'].hasError('minlength')) {
                    <mat-error i18n>Password must be at least <strong>8 characters</strong></mat-error>
                    }
                </mat-form-field>
                <mat-form-field class="full-width">
                    <mat-label>Confirm new password</mat-label>
                    <input matInput type="password" formControlName="new_password2" required>
                    @if (form.controls['new_password2'].hasError('required')) {
                    <mat-error i18n>Password is <strong>required</strong></mat-error>
                    }
                    @if (form.controls['new_password2'].hasError('equals')) {
                    <mat-error i18n>Given passwords are <strong>different</strong></mat-error>
                    }
                </mat-form-field>
            </mat-card-content>
            <mat-card-actions>
                <button mat-button type="button" [routerLink]="username ? '/users' : '/'">Cancel</button>
                <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid">Change password</button>
            </mat-card-actions>
        </mat-card>
    </form>
</div>
