Your task is to generate definition guess exercise focusing on "{{ theme }}".
The user has to guess the phrase based on the definition and one of the sentences. Don't use phrase in definition!
Create exercise for phrase "{{phrase}}". 
Generate at least 3 sentences with phrase {{ phrase }}.
Generate alternative phrases with similar meaning which can be used in these sentences instead of {{ phrase }} and explain the difference.
Generate distractor phrases - common errors and explain why they cannot be used instead of {{ phrase }}.
Create hint for guessing the phrase if user has a problem.
If appropriate, add an additional explanation of the use of the phrase in this meaning.
The output should be a JSON object of given schema:
{{json_schema}}
