@if (repetition) {
@if (repetition.type=="gap-fill-choice") {
<app-gap-fill-choice [topicId]="repetition.topic_id" [id]="repetition.page_id" (previousPage)="onPreviousPage()"
    (nextPage)="onNextPage()"></app-gap-fill-choice>
} @else if (repetition.type=="definition-guess") {
<app-definition-guess [topicId]="repetition.topic_id" [id]="repetition.page_id" (previousPage)="onPreviousPage()"
    (nextPage)="onNextPage()"></app-definition-guess>
} @else {
<pre>{{repetition | json}}</pre>
}
} @else if ( repetitions && repetitions.length==0) {
<div class="full-screen-container vertically-centered">
    <h2 i18n>All done!</h2>
</div>
<app-bottom-nav [showCheck]="false" [showHint]="false" [showTranslate]="false" ></app-bottom-nav>
}
