<form class="center-content" (ngSubmit)="onSubmit()" [formGroup]="form">
    <mat-card>
        <mat-card-header>
            <mat-card-title i18n>Reset password</mat-card-title>
        </mat-card-header>
        <mat-card-content>
            <mat-form-field class="full-width">
                <mat-label i18n>Email</mat-label>
                <input type="email" matInput placeholder="Email" formControlName="email">
                @if (form.controls['email'].hasError('required')) {
                <mat-error i18n>Email is <strong>required</strong></mat-error>
                }
                @if (form.controls['email'].hasError('email')) {
                <mat-error i18n>Input <strong>correct</strong> email</mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label i18n>Code from email</mat-label>
                <input matInput type="text" formControlName="reset_code" required>
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label i18n>New password</mat-label>
                <input matInput type="password" formControlName="new_password" required>
                @if (form.controls['new_password'].hasError('required')) {
                <mat-error i18n>New password is <strong>required</strong></mat-error>
                }
                @if (form.controls['new_password'].hasError('passwordStrength')) {
                <mat-error i18n>Password must contain <strong>at least one lowercase and uppercase letter and a number</strong></mat-error>
                }
                @if (form.controls['new_password'].hasError('minlength')) {
                <mat-error i18n>Password must be at least <strong>8 characters</strong></mat-error>
                }
            </mat-form-field>
            <mat-form-field class="full-width">
                <mat-label i18n>New password again</mat-label>
                <input matInput type="password" formControlName="new_password2" required>
                @if (form.controls['new_password2'].hasError('required')) {
                    <mat-error i18n>Password is <strong>required</strong></mat-error>
                    }
                @if (form.controls['new_password2'].hasError('equals')) {
                <mat-error i18n>The given passwords are <strong>different</strong></mat-error>
                }
            </mat-form-field>
        </mat-card-content>
        <mat-card-actions align="end">
            <button mat-raised-button routerLink="/" i18n>Cancel</button>
            <button mat-raised-button color="primary" type="submit" [disabled]="!form.valid" i18n>Update</button>
        </mat-card-actions>
    </mat-card>
</form>
