@use 'styles/components/navigation-bar' as *;

/* mobile default */
:root {
    --app-bar-height: 56px;
}

.full-screen-container {
    height: calc(100dvh - var(--app-bar-height) - env(safe-area-inset-bottom));
    margin: 0px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.layout-container-1 {
    display: flex;
    justify-content: center;
    align-items: center;
}

.layout-container-2 {
    position: relative;
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;

    .part {
        width: 100%;
        height: 100%;
        box-sizing: border-box;
    }
}

/* Tablets / small desktops */
@media (min-width: 600px) {
    :root {
        --app-bar-height: 64px;
    }

    .layout-container-2 {
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
    }

    .layout-container-1,
    .layout-container-2 {
        max-height: 800px;
        max-width: 1200px;
        margin: auto;
    }
}

/* Middle desktops / landscape tablets */
@media (min-width: 960px) {
    :root {}
}

/* large desktops */
@media (min-width: 1280px) {
    :root {}
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

form.center-content {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    margin: auto;

    .mat-mdc-card-header {
        padding-bottom: 8px;
    }
    .mat-mdc-card-content {
        width: 40rem;
    }
    .mat-mdc-card-actions {
        gap: 1em;
    }
}
