/* mobile default */
:root {
    --app-bar-height: 56px;
}

/* Tablets / small desktops */
@media (min-width: 600px) {
    :root {
        --app-bar-height: 64px;
    }
}

/* Middle desktops / landscape tablets */
@media (min-width: 960px) {
    :root {}
}

/* large desktops */
@media (min-width: 1280px) {
    :root {}
}

html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
}


.full-screen-container {
    height: calc(100dvh - var(--app-bar-height) - env(safe-area-inset-bottom));
    margin: 0px;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
}

.bottom-nav {
    position: fixed;
    bottom: 0;
    left: 0;
    right: 0;
    padding: 0px;
    padding-bottom: env(safe-area-inset-bottom);
    height: calc(var(--app-bar-height) + env(safe-area-inset-bottom));
    z-index: 1000;
    border-top: 1px solid var(--mat-divider-color);
    align-items: center;
    justify-content: center;
    display: flex;

    mat-nav-list.horizontal {
        // width: 100%;
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 1fr;
        gap: 0.2em;
        justify-items: center;
        justify-content: center;
        padding: 0;
        margin: 0;

        .mat-mdc-list-item {
            text-align: left;
            height: auto;

            display: flex;
            flex-direction: row;

            @media (max-width: 800px) {
                flex-direction: column;
                justify-content: center;
                align-items: center;
                padding-top: 0.3em;
                padding-right: 0.5em;
                padding-left: 0.5em;

                span.mat-mdc-list-item-title {
                    font-size: small;

                }
            }
        }
    }
}