@use './styles/layouts' as *;
@use './styles/components/navigation-bar' as *;
@use './styles/components/centered-form' as *;
@use './styles/components/cards' as *;
@use './styles/components/forms' as *;
@use './styles/components/tables' as *;

/* mobile default */
:root {
    --app-bar-height: 56px;
}


html,
body,
app-root {
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

body {
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

app-root {
    display: block;
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.full-width {
    width: 100%;
}

.flex-spacer {
    flex: 1 1 auto;
}

.footer-version {
    position: absolute;
    right: 1em;
    bottom: 0.6em;
    font-size: small;
    color: rgba(0, 0, 0, 0.54);
    z-index: 200;
    pointer-events: none;
}
