<form (submit)="submit($event)">
    <mat-toolbar color="primary">
        <button type="button" matIconButton (click)="cancel()" [disabled]="isBusy()">
            <mat-icon>navigate_before</mat-icon>
        </button>
        <span i18n>Edit page</span>
        <span class="flex-spacer"></span>
        <button type="submit" matButton color="primary" [disabled]="!canSubmit()">
            @if (isBusy()) {
            <mat-spinner diameter="20"></mat-spinner>
            } @else {
            Save
            }
        </button>
    </mat-toolbar>
    <mat-tab-group>
        <mat-tab label="Texts">
            <div class="full-screen-container layout-container-2 full-width">
                <div class="part left">
                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Phrase</mat-label>
                        <input matInput [formField]="form.phrase" />
                        @if (form.phrase().invalid() && form.phrase().touched()) {
                        @for (error of form.phrase().errors(); track $index) {
                        <mat-error>{{ error.message }}</mat-error>
                        }
                        }
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Definition</mat-label>
                        <textarea matInput rows="4" [formField]="form.definition"></textarea>
                        @if (form.definition().invalid() && form.definition().touched()) {
                        @for (error of form.definition().errors(); track $index) {
                        <mat-error>{{ error.message }}</mat-error>
                        }
                        }
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Hint</mat-label>
                        <textarea matInput rows="4" [formField]="form.hint"></textarea>
                        @if (form.hint().invalid() && form.hint().touched()) {
                        @for (error of form.hint().errors(); track $index) {
                        <mat-error>{{ error.message }}</mat-error>
                        }
                        }
                    </mat-form-field>

                    <mat-form-field appearance="fill" class="full-width">
                        <mat-label>Explanation</mat-label>
                        <textarea matInput rows="4" [formField]="form.explanation"></textarea>
                        @if (form.explanation().invalid() && form.explanation().touched()) {
                        @for (error of form.explanation().errors(); track $index) {
                        <mat-error>{{ error.message }}</mat-error>
                        }
                        }
                    </mat-form-field>
                </div>
                <div class="part right">
                    <div class="row">
                        <h4>Example sentences</h4>
                        <span class="flex-spacer"></span>
                        <button type="button" matIconButton (click)="addSentence()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    @for (sentence of form.sentences; track $index) {
                    <div class="row">
                        <mat-form-field appearance="fill" class="flex-spacer">
                            <mat-label>Sentence</mat-label>
                            <input matInput [formField]="form.sentences[$index].text_with_gap" />
                        </mat-form-field>
                        <mat-form-field appearance="fill" class="gap-filler-form">
                            <mat-label>Filler</mat-label>
                            <input matInput [formField]="form.sentences[$index].gap_filler_form" />
                        </mat-form-field>
                        <button type="button" matIconButton (click)="removeSentence($index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    }

                    <div class="row">
                        <h4>Alternatives</h4>
                        <span class="flex-spacer"></span>
                        <button type="button" matIconButton (click)="addAlternative()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    @for (alternative of form.alternatives; track $index) {
                    <div class="row">
                        <mat-form-field appearance="fill" class="flex-spacer">
                            <mat-label>Alternative</mat-label>
                            <input matInput [formField]="form.alternatives[$index].value" />
                        </mat-form-field>
                        <button type="button" matIconButton (click)="removeAlternative($index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    }

                    <div class="row">
                        <h4>Distractors</h4>
                        <span class="flex-spacer"></span>
                        <button type="button" matIconButton (click)="addDistractor()">
                            <mat-icon>add</mat-icon>
                        </button>
                    </div>
                    @for (distractor of form.distractors; track $index) {
                    <div class="row">
                        <mat-form-field appearance="fill" class="flex-spacer">
                            <mat-label>Distractor</mat-label>
                            <input matInput [formField]="form.distractors[$index].value" />
                        </mat-form-field>
                        <button type="button" matIconButton (click)="removeDistractor($index)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </div>
                    }
                </div>
            </div>
        </mat-tab>
        <mat-tab label="Images">
            <div class="mat-card-container">
                @for(image_name of model().image_names ?? []; track $index; let index=$index) {
                <mat-card>
                    <mat-card-header>
                        <mat-card-title>{{ index+1 }}
                            <div class="flex-spacer"></div>
                            <button type="button" matIconButton matTooltip="Delete image" (click)="removeImage(index)">
                                <mat-icon>delete</mat-icon>
                            </button>

                        </mat-card-title>
                    </mat-card-header>
                    <mat-card-content>
                        <div class="image-container">
                            <img [ngSrc]="`/api/images/${image_name}`" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" />
                        </div>
                    </mat-card-content>
                </mat-card>
                }
                <button type="button" matFab color="primary" matTooltip="Generate & Add image" (click)="addImage()">
                    <mat-icon>add</mat-icon>
                </button>
            </div>
        </mat-tab>
        <mat-tab label="Voices">
            <div class="full-screen-container layout-container-1 vertically-centered">
                <div class="text-with-player">
                    <span>{{ model().phrase }}</span>
                    @if (model().phrase_audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + model().phrase_audio_file_name"
                        [showGenerateButton]="canGenerateAudio()" (generate)="generateAudio([model().phrase])" />
                    }
                </div>
                <div class="text-with-player">
                    <span>{{ model().definition }}</span>
                    @if (model().definition_audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + model().definition_audio_file_name"
                        [showGenerateButton]="canGenerateAudio()" (generate)="generateAudio([model().definition])" />
                    }
                </div>
                @if (model().hint) {
                <div class="text-with-player">
                    <span>{{ model().hint }}</span>
                    @if (model().hint_audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + model().hint_audio_file_name"
                        [showGenerateButton]="canGenerateAudio()" (generate)="generateAudio([model().hint])" />
                    }
                </div>
                }
                @if (model().explanation) {
                <div class="text-with-player">
                    <span>{{ model().explanation }}</span>
                    @if (model().explanation_audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + model().explanation_audio_file_name"
                        [showGenerateButton]="canGenerateAudio()"
                        (generate)="generateAudio([model().explanation])" />
                    }
                </div>
                }
                @for(sentence of model().sentences; track $index) {
                <div class="text-with-player">
                    <span>{{ (sentence.text_with_gap || '').replace(/_{3,}/g, sentence.gap_filler_form) }}</span>
                    @if (sentence.audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + sentence.audio_file_name"
                        [showGenerateButton]="canGenerateAudio()"
                        (generate)="generateAudio([(sentence.text_with_gap || '').replace(/_{3,}/g, sentence.gap_filler_form)])" />
                    }

                </div>
                }

                @for(answer of model().alternatives; track $index) {
                <div class="text-with-player">
                    <span>{{ answer.value }}</span>
                    @if (answer.audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + answer.audio_file_name"
                        [showGenerateButton]="canGenerateAudio()" (generate)="generateAudio([answer.value])" />
                    }
                </div>
                }

                @for(answer of model().distractors; track $index) {
                <div class="text-with-player">
                    <span>{{ answer.value }}</span>
                    @if (answer.audio_file_name) {
                    <app-play-audio-button [srcUrl]="'/api/audio-files/' + answer.audio_file_name"
                        [showGenerateButton]="canGenerateAudio()" (generate)="generateAudio([answer.value])" />
                    }
                </div>
                }
            </div>
        </mat-tab>
    </mat-tab-group>
</form>
