<div class="layout-container-2 full-screen-container">
    @if (exercise) {

    <div class="part left vertically-centered">
        @if (image_src) {
        <div class="image-container">
            <img [ngSrc]="image_src" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" priority />
        </div>
        }
        <div id="description">
            @if (native && exercise.native_definition) {
            {{ exercise.native_definition }}
            } @else {
            {{ exercise.definition }}
            }</div>
        @if (showHint) {
        <div id="hint">
            @if (native && exercise.native_hint) {
            ({{ exercise.native_hint}})
            } @else {
            ({{ exercise.hint}})
            }
        </div>
        }
    </div>
    <div class="part right vertically-centered">
        <div id="sentence" [innerHTML]="!showAnswer ? sentence.text_with_gap : answer"></div>
        @if (native && nativeSentence) {
        <div id="native-sentence">{{ nativeSentence.text}}</div>
        }
    </div>
    }
</div>
@if (!showAnswer) {
<app-bottom-nav [showCheck]="true" [showHint]="true" [showTranslate]="true" (check)="check()" (hint)="onShowHint()"
    [disabledHint]="showHint" (translate)="native = !native"></app-bottom-nav>
} @else {
<app-evaluation-bar (evaluation)="onEvaluation($event)"></app-evaluation-bar>
}