<div class="layout-container-2 full-screen-container">
    @if (exercise) {

    <div class="part left vertically-centered">
        @if (imageSrc) {
        <div class="image-container">
            <img [ngSrc]="imageSrc" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" priority />
        </div>
        }
        <div id="description" class="text-with-player">
            @if (native && exercise.native_definition) {
            {{ exercise.native_definition }}
            } @else {
            {{ exercise.definition }}
            <app-play-audio-button #definitionAudioButton
                [srcUrl]="'/api/audio-files/' + exercise.definition_audio_file_name" [autoPlay]="true" />
            }
        </div>
        @if (showHint) {
        <div id="hint" class="text-with-player">
            @if (native && exercise.native_hint) {
            ({{ exercise.native_hint }})
            } @else {
            <span>({{ exercise.hint }})</span>
            <app-play-audio-button #hintAudioButton [srcUrl]="'/api/audio-files/' + exercise.hint_audio_file_name" />
            }
        </div>
        }
    </div>
    <div class="part right vertically-centered">
        @if (showAnswer) {
        <div id="phrase" class="text-with-player">
            <span>{{ exercise.phrase }}</span>
            <app-play-audio-button #phraseAudioButton
                [srcUrl]="'/api/audio-files/' + exercise.phrase_audio_file_name" />
        </div>
        <div id="sentence" class="text-with-player">
            <div [innerHTML]="answer"></div>
            <app-play-audio-button #sentenceAudioButton [srcUrl]="'/api/audio-files/' + sentence.audio_file_name" />
        </div>
        } @else {
        <div id="sentence" [innerHTML]="sentence.text_with_gap"></div>
        }
        @if (native && nativeSentence) {
        <div id="native-sentence">{{ nativeSentence.text}}</div>
        }
    </div>
    }
</div>
@if (!showAnswer) {
<app-bottom-nav [showCheck]="true" [showHint]="true" [showTranslate]="true" (check)="check()" (hint)="onShowHint()"
    [disabledHint]="showHint" (translate)="native = !native"></app-bottom-nav>
} @else {
<app-evaluation-bar (evaluation)="onEvaluation($event)"></app-evaluation-bar>
}
