div.centered-form {
    min-height: 100dvh;
    display: flex;
    align-items: center;
    justify-content: center;
    background: var(--mat-sys-surface-dim);
    box-sizing: border-box;

    form {
        width: 100%;
        max-width: 600px;
        display: flex;
        flex-direction: column;
        gap: 24px;

        mat-card-header {
            margin-bottom: 16px;

            mat-card-title {
                font-size: 28px;
                font-weight: 500;
                text-align: center;
            }

            mat-card-subtitle {
                text-align: center;
                color: var(--mat-sys-on-surface-variant);
            }

        }

    }

    @media (min-width: 600px) {
        form {
            max-width: 480px;
        }
    }

    @media (min-width: 840px) {
        form {
            max-width: 520px; // tablet / small desktop
        }
    }

    @media (min-width: 1200px) {
        form {
            max-width: 560px; // big screen
        }
    }
}