Your task is to generate a set of info pages describing "{{ theme }}".
Pages will be used in a mobile application - try to fill one screen and use the markdown format.

Each page should adhere strictly to the json schema provided below.

The output should be a JSON array of objects:
{{json_schema}}
