<div class="layout-container">
    <div class="part left">
        @if (item) {
        <div class="vertically-centered image-container">
            <img id="hint-image" [ngSrc]="image_src" fill [ngSrcset]="'400w, 600w, 800w, 1024w'" priority
                [hidden]="hintIndex === 0" />
            @if(hintIndex == 0) {
            <div id="title">
                {{ native ? set.native_title : set.target_title }}
            </div>
            <div>{{ native ? set.native_description : set.target_description }}

                <ol>
                    <li i18n>Guess the word or phrase</li>
                    <li i18n>Click the letters one by one to form the answer</li>
                    <li i18n>To get the <i>next</i> hint, click "<b>?</b>"</li>
                    <li i18n>Have fun!</li>
                </ol>
            </div>
            }
        </div>
        @if(hintIndex > 1) {
        <div id="description" class="vertically-centered">{{ native ? item.native_description : item.target_description
            }}</div>
        }
        }
    </div>
    <div class="part right vertically-centered">
        @if (item) {
        <div id="question">
            @for(letter of answer; track $index; let i = $index) {
            @if (i < hintIndex-2) { <button type="button" class="letter-box" disabled>{{letter}}</button>
                } @else {
                <button type="button" class="letter-box" (click)="onClickAnswer(i)">{{letter}}</button>
                }
                }
        </div>
        <div id="letters">
            @for(letter of letters; track $index; let i = $index) {
            <button type="button" class="letter-box" (click)="onClickLetter(i)">{{letter}}</button>
            }
        </div>
        }

    </div>
</div>
<mat-toolbar color="primary" class="bottom-nav">
    <mat-nav-list class="horizontal">
        <a mat-list-item routerLink="/topics">
            <mat-icon matListItemIcon>home</mat-icon>
            <span matListItemTitle>Home</span>
        </a>
        <a mat-list-item (click)="showNextHint()" i18n-matTooltip matTooltip="Show next hint">
            <mat-icon matListItemIcon>help</mat-icon>
            <span matListItemTitle>Clue</span>
        </a>
        <a mat-list-item (click)="native = !native" i18n-matTooltip matTooltip="Switch language"
            [disabled]="hintIndex==1">
            <mat-icon matListItemIcon>{{ native ? 'language' : 'g_translate' }}</mat-icon>
            <span matListItemTitle>Language</span>
        </a>
    </mat-nav-list>
</mat-toolbar>
