<div class="vertically-centered">
    @if(set) {
    <div id="title">{{ set.title }}</div>
    <div>{{ set.description }}</div>
    }
    @if (item) {
    <img [src]="image_src" height="640" width="640" />
    <div id="description">{{ item.description }}</div>
    <div id="question">
        @for(letter of answer; track $index; let i = $index) {
        <button type="button" class="letter-box" (click)="onClickAnswer(i)">{{letter}}</button>
        }
    </div>
    <div id="letters">
        @for(letter of letters; track $index; let i = $index) {
        <button type="button" class="letter-box" (click)="onClickLetter(i)">{{letter}}</button>
        }
    </div>
    }
</div>