.layout-container {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    gap: 0.5em;
    padding: 0.5em;
    box-sizing: border-box;


    max-height: 800px;
    max-width: 1200px;
    margin: auto;

    @media (max-width: 800px) {
        grid-template-columns: 1fr;
        grid-template-rows: 3fr 2fr;
        max-height: none;
    }
}

.part {
    width: 100%;
    height: 100%;
    box-sizing: border-box;
}

.part.left {
    display: grid;
    grid-template-rows: 2fr 1fr;
}

.part.right {
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.vertically-centered {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.image-container {
    position: relative;

    img[fill] {
        object-fit: cover;
        object-position: center;
    }
}

#title {
    font-size: x-large;
    width: 100%;
    text-align: center;
    box-sizing: border-box;
    padding: 0.5em;
    margin: 0.5em;
}


#description {
    font-size: large;
    padding: 0.5em;
    margin: 0.5em;
    text-align: justify;
}

#question,
#letters {
    margin: 1em;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 5em;

    .letter-box {
        flex: 0;
        font-size: x-large;
        padding: 0.5em 0;
        margin: 0.1em;
        border: 1px black solid;
        border-radius: 0.3em;
        background: white;
        cursor: pointer;
        box-sizing: border-box;
        min-width: 1.5em;
        text-align: center;

        @media (min-width: 800px) and (min-height: 800px) {
            font-size: xx-large;
        }

        &:hover {
            background-color: #f0f0f0;
        }
    }
}

#hint-image {
    width: auto;
    height: auto;
}

.action-buttons {
    position: absolute;
    top: 0.5em;
    right: 0.5em;
    display: flex;
    flex-direction: row;
    justify-content: right;
    gap: 0.5em;
}