.vertically-centered {
    display: flex;
    flex-direction: column; 
    justify-content: center; 
    align-items: center; 
    min-height: 100vh;
}

#question, #letters {
    margin: 1em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    min-height: 5em;

    .letter-box {
        flex: 0;
        font-size: xx-large;
        padding: 0.5em;
        margin: 0.1em;
        border: 1px black solid;
        border-radius: 0.3em;
        background: white;
        cursor: pointer;
        box-sizing: border-box;
        min-width: 1.5em;
        text-align: center;

        &:hover {
            background-color: #f0f0f0;
        }
    }
}