Generate as many as you can (but no more than {{ max_count }}) words, phrases and collocations related to theme: **{{ theme }}**.
They will be used to create definition guess exercises.
Use capital letters only if it is required by grammar or language tradition.
The output should be a JSON array of strings.
